* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Merriweather', serif;
  src: url("https://fonts.googleapis.com/css?family=Merriweather:300,400&amp;subset=latin-ext");
}

.neon{
  font-size: 6em;
  font-family: "" , sans-serif;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  text-align: center;
}
.liveScores{
  margin: 0 auto;
  text-align: center;
}
.live{
  margin-top: 26rem;
}
.listOfMatches{
  list-style-type: none;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match{
  border: 1px solid grey;
  padding: 10px;
  width: 50%;
  cursor:pointer;
  text-align:center;

}
.margin{
  margin-top: 3rem;
}
.centerMatch{
  text-align:center;
}
#leaguestats{
  min-height:100vh;
}
.react-slidedown.my-dropdown-slidedown {
  transition-duration: 6s;
  transition-timing-function: cubic-bezier(1, 1, 0.01, 0.01);
}
